root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

ij_continuation_indent_size = 8
ij_smart_tabs = false
ij_wrap_on_typing = false

[*.java]
ij_java_imports_layout = com.**, org.**, |, *, |, java.**, javax.**, |, $*
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_insert_inner_class_imports = false
ij_java_layout_static_imports_separately = true

ij_java_blank_lines_after_package = 1
ij_java_blank_lines_after_imports = 1

[*.json]
indent_size = 2

[{*.yaml, *.yml}]
indent_size = 2
